

.main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(40deg,#eacda3,#d6ae7b);
  padding: 1rem;
}

h1{
  margin-bottom: 3rem;
}

.gameboard{
  width: 350px; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px black solid; */
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.box{
  height: 100px;
  width: 100px;
  display: flex;
  border: 2px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.box:nth-child(3n){
  border-right: none;
}
.box:nth-child(3n+1){
  border-left: none;
}
.box:nth-child(1){
  border-top: none;
}
.box:nth-child(2){
  border-top: none;
}
.box:nth-child(3){
  border-top: none;
}
.box:nth-child(7){
  border-bottom: none;
}
.box:nth-child(8){
  border-bottom: none;
}
.box:nth-child(9){
  border-bottom: none;
}

.score{
  width: 400px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.scr{
  font-size: 2rem;
  color: brown;
}


/* not my code  */

.alert {
  font-size: 1.2rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
  color: black;
  border: 2px black solid;
  background-image: linear-gradient(30deg,#403A3E,white);
  
}

.hidden{
  display: none;
}

.blur{
  filter: blur(8px);
}

button{
  background-color: lightsalmon;
  font-size: 1.1rem;
  font-family:monospace;
  border: 2px black solid;
  cursor: pointer;
}

h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}